body{
    margin: 0;
    padding: 0;
    background-color: #000000;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.encabezado{
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 75px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: fantasy;
    font-size: 30px;
}

article{
    text-align: end;
    justify-self: center;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 5px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.menu{
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
}
.contacto{
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-align: end;
}

.menu:hover{
    background-color: #ffffff;
    color: black;
}
.contacto:hover{
    background-color: #ffffff;
    color: black;
}

footer{
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: fantasy;
    font-size: 14px;
    box-shadow: 0px 15px 30px black;
}


.contai{
    position: absolute;
    width: 100%;
    height: auto;
    overflow: fill;
    z-index: -1;
}
.particulas{
    position: relative;
    display: flex;
}
.particulas span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.particulas span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate{
    0% {
        transform: translateY(180vh) scale(0);
    }
    100% {
        transform: translateY(-100vh) scale(1);
    }
}

.galery{
    margin: 0 auto;
    display: flex;
    width: 600px;
    height: 300px;
    text-align: center;
    box-shadow: 0px 15px 30px black;
    border-radius: 20px 20px;
    padding: 23px 30px;
    border: #ffffff solid 2px;
    background-color: rgba(255, 255, 255, 0.37);
}
.galery img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    transition: .7s ease;
}
.galery img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}



    


.btn.btn-raised.btn-primary {
    background-color: #ffffff !important;
    font-size: 40px;
    text-align: center;
    padding: 15px;
    color: #000000;
  }
.container{
    margin: 0 auto;
    max-width: 80%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 2%;
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: #fbe9e759 solid 1px;
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.473);
    border-radius: 15px;
    height: auto;
    text-align: center;
    color: #cecece;
    justify-content: center;
  }
  .container .form-group{
    padding: 2%;
    background-color: rgba(238, 232, 230, 0.089);
    width: auto;
    font-size: x-large;
  }
 
  .error {
      background-color: #fbe9e7;
      border: 1px solid #f4511e;
      padding: 10px;
      margin-bottom: 20px;
      text-align: center;
      color: #f4511e;
      font-size: xx-large
    }
    .correcto {
      background-color: rgb(211, 249, 187);
      border: 1px solid rgb(50, 167, 0);
      padding: 10px;
      margin-bottom: 20px;
      text-align: center;
      color: rgb(4, 150, 50);
      font-size: xx-large
    }
    .error p {
      margin: 0;
      font-size: xx-large
    }
    #cargando {
      text-align: center;
    }
    #cargando img {
      display: none;
      margin: 0 auto;
    }
    #resultado {
      margin-top: 10px;
      margin-bottom: 40px;
    }
    #resultado div {
      border: 1px solid #ffffff;
      text-align: center;
      padding: 0 0 20px 0;
    }
    #resultado div p {
      margin-bottom: 0;
      font-size: xx-large;
    }
    #resultado div p.header {
      background-color: #ffffff;
      margin-bottom: 10px;
      color: rgb(0, 0, 0);
      padding: 10px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: xx-large
    }
        
.headi{
    background-color: #b8b8b846;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.headi h1{
    font-size: 40px;
    margin: 0;
    text-align: center;
}

select{
    font-size: larger;
    cursor: pointer;
}

.refresh{
    margin: 0 auto;
    max-width: 30%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 2%;
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: #fbe9e759 solid 1px;
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.473);
    border-radius: 15px;
    height: 75px;
    text-align: center;
    justify-content: center;
}
.bonot{
    font-size: xx-large;
    padding: 5px;
    border: #ffffff;
    border-radius: 15px;
}