*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: auto;
    margin: auto;
    background-color: #0c192c;
}

header{
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 18px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: fantasy;
    font-size: 22px;
}

article{
    text-align: end;
    justify-self: center;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 5px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.menu{
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
}
.cotizador{
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
}

.cuestionary{
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
}

.encuesta{
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-align: end;
}

.menu:hover{
    background-color: #ffffff;
    color: black;
}
.cotizador:hover{
    background-color: #ffffff;
    color: black;
}
.cuestionary:hover{
    background-color: #ffffff;
    color: black;
}
.encuesta:hover{
    background-color: #ffffff;
    color: black;
}

footer{
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: fantasy;
    font-size: 14px;
    box-shadow: 0px 15px 30px black;
    font-family: Arial, Helvetica, sans-serif;
}



.container{
    padding: 10%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}

.subcontainer{
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0%;
    color: #ffffff;
    border: 4px solid #cecece;
    border-radius: 15px;
    box-shadow: 0px 15px 30px rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(100%);
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    background-color: #ffffff13;
}

h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.fondo{
    width: 100%;
    height: auto;
    position: relative;
    object-fit: fill;
    z-index: -1;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate{
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}