* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 50px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: fantasy;
    font-size: 25px;
    box-shadow: 0px 15px 30px black;
}

section{
    text-align: end;
    justify-self: center;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 5px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.Content {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 3px solid #bdbdbd;
    background: transparent;
    backdrop-filter: blur(4px);
    box-shadow: 0px 15px 30px black;
    border-radius: 15px;
    overflow: auto;
    align-items: center;

    height: 580px;
}

label {
    text-align: center;
    font-size: xx-large;
    backdrop-filter: blur( 120rem );
    box-shadow: 0px 15px 30px black;
    border-radius: 20px 20px;
    padding: 23px 30px;
    color: #ffffff;

}

.Final {
    max-width: 700px;
    margin: auto;
    margin-bottom: 38px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 3px solid #333333;
    box-shadow: 0px 15px 30px black;
    border-radius: 15px;
    text-align: center;
    background-color: #ffffffb7;
    backdrop-filter: blur(4px);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.pun{
    font-family: 'Times New Roman';
    font-size: xx-large;
    text-align: center;
}

video{
    width: 100%;
    top: auto;
    left: 0;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#hero{
    min-width: 100px;
}

img{
    width: 50%;
    height: 50%;
    
    border: 3px solid #fff;
    box-shadow: 0px 15px 30px white;
    border-radius: 13px;
}

.divisor{
    font-size: medium;
    color: #ebebeb;
}

footer{
    text-align: center;
    position: relative;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: fantasy;
    font-size: 14px;
    box-shadow: 0px 15px 30px black;
}



.menu{
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
}
.contacto{
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.menu:hover{
    background-color: #ffffff;
    color: black;
}
.contacto:hover{
    background-color: #ffffff;
    color: black;
}

#feedback1{
    background-color: #fff;
    font-size: large;
}
#feedback2{
    background-color: #fff;
    font-size: large;
}
#feedback3{
    background-color: #fff;
    font-size: large;
}
#feedback4{
    background-color: #fff;
    font-size: large;
}
#feedback5{
    background-color: #fff;
    font-size: large;
}
#feedback6{
    background-color: #fff;
    font-size: large;
}
#feedback7{
    background-color: #fff;
    font-size: large;
}
#feedback8{
    background-color: #fff;
    font-size: large;
}
#feedback9{
    background-color: #fff;
    font-size: large;
}
#feedback10{
    background-color: #fff;
    font-size: large;
}

select{
    font-size: x-large;
    color: #fff;
    background-color: #00000044;
    backdrop-filter: blur(2px);
    border: 3px solid #242424;
    border-radius: 4px;
    padding: 5px;
}

select:hover{
    background-color: #0a478df5;
}

button{
    width: 40%;
    display: block;
    margin: auto;
    padding: 13px;

    background-color: #3a3a3a;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    
    box-shadow: 0px 15px 30px black;
}

input{
    width: 40%;
    display: block;
    margin: auto;
    padding: 13px;

    background-color: #3a3a3a;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    
    box-shadow: 0px 15px 30px black;
}

button:hover{
    background: white;
    color: black;
}
input:hover{
    background: white;
    color: black;
}