body {
    background-color: #acacac;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 30px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: fantasy;
    font-size: 30px;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

section {
    border: 2px solid #242424;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0px 15px 30px black;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    background-color: transparent;
}

label {
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px ridge #2b2b2b;
    margin-bottom: 3px;
    font-size: x-large;
}

label:hover {
    background: #3197b1;
}

button {
    width: 20%;
    display: block;
    margin: auto;
    padding: 13px;
    background-color: #3a3a3a;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 15px 30px black;
}

button:hover {
    background: white;
    color: black;
}

h2 {
    text-align: end;
}

h3 {
    text-align: center;
    border: 2px #242424;
    border-radius: 7px;
    padding: 5px;
    margin: 10px 0;
    background-color: #ffffff69;
    backdrop-filter: blur(4rem);
    font-size: xx-large;
}

h5 {
    text-align: center;
    font-size: xx-large;
}

.menu {
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
}

.contacto {
    border-bottom: rgb(43, 43, 43);
    color: #ffffff;
    text-decoration: none;
    text-align: end;
    justify-content: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    text-align: end;
    justify-self: center;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 5px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

footer {
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-family: fantasy;
    font-size: 14px;
    box-shadow: 0px 15px 30px black;
}

.menu:hover {
    background-color: #ffffff;
    color: black;
}

.contacto:hover {
    background-color: #ffffff;
    color: black;
}

.fondito {
    max-width: 95%;
    margin: auto;
    padding: 1px;
    padding-bottom: 0%;
}

main {
    padding: 5%;
    padding-bottom: 0;
    justify-content: center;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.contenedor .mivideo2 {
    position: absolute;
    object-fit: fill;
    z-index: -1;
    width: 100%;
    height:605vh;
    overflow: hidden;
    display: flex;
}